api-gateway-core/src/main/resources/META-INF/route.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://bridge.glmapper.com/schema/route"
            targetNamespace="http://bridge.glmapper.com/schema/route">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:complexType name="routeType">
        <xsd:attribute name="id" type="xsd:ID" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="prefix" type="xsd:string"/>
        <xsd:attribute name="route" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="upstream" type="routeType"/>

    <xsd:element name="downstream" type="routeType"/>

    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="address" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="discover">
        <xsd:complexType>
            <xsd:attribute name="address" type="xsd:string" use="required" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
